@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
@using Factory.Models

<div>
  <h2>Assign a licensed Engineer</h2>
  <p>Currently assigned to: </p>
  @if (Model.AssignedEngineers.Count == 0)
  {
    <p>None</p>
  }
  else
  {
    <ul>
      @foreach (EngineerMachine join in Model.AssignedEngineers)
      {
        <li>@join.Engineer.Name</li>
      }
    </ul>
  }
  <p>Assign a new engineer for @Html.DisplayFor(model => model.Name).</p>
  <div class="form">
    @using (Html.BeginForm())
    {
      <div class="form-div">
        @Html.HiddenFor(model => model.MachineId)
        @Html.Label("Select an Engineer: ")
        @Html.DropDownList("EngineerId")
      </div>
      <input type="submit" value="Assign" />
    }
  </div>
  <div class="buttons">
    <p>@Html.ActionLink("Back to Machine List", "Index")</p>
    <p>@Html.ActionLink("Main Page", "Index", "Home")</p>
  </div>
</div>