@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div>
  <h2>Assign a licensed Engineer</h2>

  <div class="form">
    @using (Html.BeginForm())
    {
      <div class="form-div">
        @Html.HiddenFor(model => model.MachineId)
        @Html.Label("Select an Engineer: ")
        @Html.DropDownList("EngineerId")
      </div>
      <input type="submit" value="Assign" />
    }
  </div>
  <div class="buttons">
    <p>@Html.ActionLink("Back to Machine List", "Index")</p>
    <p>@Html.ActionLink("Main Page", "Index", "Home")</p>
  </div>
</div>