@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
@using Factory.Models

<div>
  <h2>Machine Information</h2>
  <hr />
  <div>
    <p>@Html.DisplayFor(model => model.Name) | @Html.DisplayFor(model => model.Difficulty)</p>
  </div>

  @if (Model.AssignedEngineers.Count == 0)
  {
    <p>No engineers assigned to this machine yet. Click @Html.ActionLink("here", "AddEngineer", new { id = Model.MachineId }) to assign new engineers licensed to repair @Html.DisplayFor(model => model.Name).</p>
  } 
  else 
  {
    <h4>Licensed engineers: </h4>
    @foreach(EngineerMachine join in Model.AssignedEngineers)
    {
      <div>
        <p>@join.Engineer.Name</p>
        @using (Html.BeginForm("DeleteJoin", "Machines"))
        {
          @Html.Hidden("id", @join.EngineerMachineId)
          <input type="submit" value="Remove" />
        }
      </div>
    }
  }
  <div class="buttons">
    <p>@Html.ActionLink("Add new Engineers", "Create", "Engineers")</p>
    <p>@Html.ActionLink("Change Information", "Edit", new { id = Model.MachineId })</p>
    <p>@Html.ActionLink("Unregister this Machine", "Delete", new { id = Model.MachineId })</p>
    <p>@Html.ActionLink("Back to Machine List", "Index")</p>
  </div>
</div>

