@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div>
  <h2>Edit Machine Info</h2>
  <hr />
  <h4>Current Information:</h4>
  <p>@Html.DisplayFor(model => model.Name) | @Html.DisplayFor(model => model.Difficulty)</p>

  <div class="form">
    <h4>Update Info here: </h4>
    @using (Html.BeginForm())
    {
      <div class="form-div">
        @Html.HiddenFor(model => model.MachineId)
        <div>
          @Html.LabelFor(model => model.Name, "Name: ")
          @Html.EditorFor(model => model.Name)
        </div>
        <div>
          @Html.LabelFor(model => model.Difficulty, "Difficulty: ")
          @Html.DropDownListFor(model => model.Difficulty, ViewBag.Difficulties as List<SelectListItem>)
        </div>
      </div>
      <input type="submit" value="Update" />
    }
  </div>
  <div class="buttons">
    <p>@Html.ActionLink("Back to Details", "Details", new { id = Model.MachineId })</p>
    <p>@Html.ActionLink("Back to Engineer List", "Index")</p>
  </div>
</div>