@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div>
  <h2>Machine Assignment</h2>
  <p>Assign a new machine for @Html.DisplayFor(model => model.Name).</p>
  <div class="form">
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.EngineerId)
      @Html.Label("Select a Machine: ")
      @Html.DropDownList("MachineId")
      <input type="submit" value="Assign" />
    }
  </div>
  <div class="buttons">
    <p>@Html.ActionLink("Back to Engineer List", "Index")</p>
    <p>@Html.ActionLink("Main Page", "Index", "Home")</p>
  </div>
</div>