@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<div>
  <h2>Register New Engineer</h2>
  <p>@Html.ValidationMessageFor(model => model.Name, "")</p>
  <div class="form">
    @using (Html.BeginForm())
    {
      <div class="form-div">
        <div>
          @Html.LabelFor(model => model.Name, "Name: ")
          @Html.TextBoxFor(model => model.Name)
        </div>
        <div>
          @Html.LabelFor(model => model.Title, "Job Title: ")
          @Html.DropDownListFor(model => model.Title, ViewBag.JobTitles as List<SelectListItem>)
        </div>
        <div>
          @Html.LabelFor(model => model.HiredDate, "Hired Date: ")
          @Html.TextBoxFor(model => model.HiredDate, new { type = "date" })
        </div>
      </div>
      <input type="submit" value="Register" />
    }
  </div>
  <div class="buttons">
    <p>@Html.ActionLink("Back to Engineer List", "Index")</p>
    <p>@Html.ActionLink("Main Page", "Index", "Home")</p>
  </div>
</div>