@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<div>
  <h2>Engineer Information</h2>
  <hr />
  <div>
    <p>@Html.DisplayFor(model => model.Name) | @Html.DisplayFor(model => model.Title) since @Html.DisplayFor(model => model.HiredDate)</p>
  </div>

  @if (Model.AssignedMachines.Count == 0)
  {
    <p>No machines assigned yet. </p>
    <p>Click @Html.ActionLink("here", "AddMachine", new { id = Model.EngineerId }) to assign new machines for @Html.DisplayFor(model => model.Name).</p>
  } 
  else {
    <h4>Machines licensed to repair: </h4>
    @foreach(EngineerMachine join in Model.AssignedMachines)
    {
      <div>@Html.ActionLink($"{join.Machine.Name}", "Details", "Machines", new { id = join.Machine.MachineId })</div>
    }
  }
  <div class="buttons">
    <p>@Html.ActionLink("Add new Machines", "Create", "Machines")</p>
    <p>@Html.ActionLink("Edit Engineer or Machine", "Edit", new { id = Model.EngineerId })</p>
    <p>@Html.ActionLink("Unregister this Engineer", "Delete", new { id = Model.EngineerId })</p>
    <p>@Html.ActionLink("Back to Engineer List", "Index")</p>
  </div>
</div>

