@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<div>
  <h2>Engineer Information</h2>
  <hr />
  <div>
    <p>@Html.DisplayFor(model => model.Name) | @Html.DisplayFor(model => model.Title) since @Html.DisplayFor(model => model.HiredDate)</p>
  </div>

  @if (Model.AssignedMachines.Count == 0)
  {
    <p>No machines assigned yet. Click @Html.ActionLink("here", "AddMachine", new { id = Model.EngineerId }) to assign new machines for @Html.DisplayFor(model => model.Name).</p>
  } 
  else 
  {
    <h4>Machines assigned: </h4>
    @foreach (EngineerMachine join in Model.AssignedMachines)
    {
      <div>
        <p>@join.Machine.Name</p>
        @using (Html.BeginForm("DeleteJoin", "Engineers"))
        {
          @Html.Hidden("id", @join.EngineerMachineId)
          <input type="submit" value="Remove" />
        }
      </div>
    }
  }
  <div class="buttons">
    <p>@Html.ActionLink("Add new Machines", "Create", "Machines")</p>
    <p>@Html.ActionLink("Change Information", "Edit", new { id = Model.EngineerId })</p>
    <p>@Html.ActionLink("Unregister this Engineer", "Delete", new { id = Model.EngineerId })</p>
    <p>@Html.ActionLink("Back to Engineer List", "Index")</p>
  </div>
</div>

